<ul class="list-card">
  <li class="list-card__item">
    <a class="card-link">
      <div class="card-img__wrap">
        <img src="../../assets/card.png" alt="" class="card-img" />
      </div>
      <div class="inf-card__wrap">
        <p class="txt-card">Городские</p>
      </div>
    </a>
  </li>
  <li class="list-card__item">
    <a class="card-link">
      <div class="card-img__wrap">
        <img src="../../assets/card2.png" alt="" class="card-img" />
      </div>
      <div class="inf-card__wrap">
        <p class="txt-card">Горные / универсальные</p>
      </div>
    </a>
  </li>
  <li class="list-card__item">
    <a class="card-link">
      <div class="card-img__wrap">
        <img src="../../assets/card3.png" alt="" class="card-img" />
      </div>
      <div class="inf-card__wrap">
        <p class="txt-card">Шоссейные/триатлон</p>
      </div>
    </a>
  </li>
  <li class="list-card__item">
    <a class="card-link">
      <div class="card-img__wrap">
        <img src="../../assets/card4.png" alt="" class="card-img" />
      </div>
      <div class="inf-card__wrap">
        <p class="txt-card">Экстрим (BMX)</p>
      </div>
    </a>
  </li>
</ul>
